<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net462" />
  <package id="GemBox.Spreadsheet" version="47.0.1298" targetFramework="net462" />
  <package id="GemBox.Spreadsheet.WinFormsUtilities" version="47.0.1298" targetFramework="net462" />
</packages>